

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#page-modal {
    width: 1200px;
    margin-left: -600px;
}

#login-modal {
    width: 326px;
    margin-left: -163px;
}







